---
import BlobbySection from '../components/BlobbySection.astro';
import { buildImagePropsFromSrc } from '../utils';

const niceBikesLogo = 'Asset_3_5nvkHQq-Y.png';
const velocioLogo =
  'https://cdn.shopify.com/s/files/1/1871/8709/t/20/assets/Velocio_Brand_Wordmark_Black.svg?v=64960705925669185861641296160';
---

<BlobbySection
  backgroundColor="var(--color-yellow)"
  blobColor="var(--color-yellow-dark)"
  className="sponsor"
>
  <h2>Supported By</h2>
  <div class="grid">
    <a href="https://nicebikes.org">
      <img
        class="logo nice"
        {...buildImagePropsFromSrc(niceBikesLogo)}
        sizes="50vw"
        loading="lazy"
      />
    </a>
    <a href="https://velocio.cc">
      <img class="logo velocio" src={velocioLogo} loading="lazy" />
    </a>
  </div>
</BlobbySection>
<style>
  .sponsor {
    color: var(--color-dark);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .logo {
    max-width: 50vw;
  }

  .logo.nice {
    rotate: -10deg;
  }

  .velocio {
    rotate: 15deg;
    transform: translate(0, -3vw);
    height: -webkit-fill-available;
  }

  a {
    width: fit-content;
  }

  @media (min-width: 622px) {
    .logo {
      max-width: 30vw;
    }
  }
</style>
